footer{
    margin: 20px 0px;
}

.footer__section__article{
    text-align: center;
    margin: 40px 0px;
    background-color: #FFF;
    padding: 10px;
}

.footer__section__article i{
    margin-bottom: 10px;
    font-size: 2em;
    color: var(--color-celeste);
}