.home__main{
    background-color: var(--color-gris-claro);
    padding-bottom: 10px;
}

.home__main__section{
    padding: 0px 10px;
}

.home__main__section__article{
    text-align: center;
    margin: 40px 0px;
    background-color: #FFF;
    padding: 10px;
}